.drawer--header {
    font-size: 20rem;
}

.grid--box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.grid--info {
    font-size: 1em;
    position: absolute;
    right: 1em;
    top: 1.35em;
}

.grid--link {
    text-decoration: underline;
}


.css-wmle3x {
    overflow: scroll;
    /* For info grid */
    text-align: right;
    line-height: 1.7rem;
}