.header--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header--logo {
    width: 10rem;
    height: 3rem;
}

.header--buttons {
    padding: .3rem;
}

.header {
    -webkit-box-shadow: 10px 10px 36px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 36px 1px rgba(0,0,0,0.39);
    box-shadow: 10px 10px 36px 1px rgba(0,0,0,0.39);
}